<h1>Hello World</h1>
<p>Paste the url of a wikipedia page</p>
<form action="/search" method="POST">
  <div>
    <input type="text" name="search">
  </div>
  <div>
    <br>
    <button type="submit">Search</button>
  </div>
</form>
<div>
  {{#if booksAvailable}}
  <table>
   <thead>
     <tr>
      <th>Book Title</th>
      <th>Link</th>
    </tr>
   </thead>
   <tbody>
    {{#each booksAvailable}}
    <tr>
      <td>{{bookTitle}}</td>
      <td><a href={{bookKey}} target="_blank">{{bookKey}}</a></td>
    </tr>
    {{/each}}
   </tbody>
  </table>
  {{else}}
    <p>no books yet</p>
  {{/if}}





</div>